@using RentalWebApp.Models.Entities;
@model List<UserDataModel>;

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Edit User</h3>
                </div>
                <div class="card-body">
                    @if (Model.Count > 0)
                    {
                        <form method="post" action="/User/Update">
                            <input type="hidden" value="@Model[0].UserId" name="UserId" />
                            <label>Member ID: </label>
                            <input type="number" maxlength="6" class="form-control" required name="MemberId" value="@Model[0].MemberId" />
                            <br />
                            <label>User Name: </label>
                            <input class="form-control" type="text" required name="UserName" value="@Model[0].UserName" />
                            <br />
                            <label>Phone Number: </label>
                            <input class="form-control" name="PhoneNumber" required type="tel" value="@Model[0].PhoneNumber" />
                            <br />
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </form>
                    }
                    else
                    {
                        <h3>No data found.</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
